.content-explorer {
    background-color: #fefefe;

    ul {
        margin-left: 6px;
        li {
            margin: 3 0 0 0;
            display: flex;
            flex-direction: row;
        }
    }

    .key {
        font-size: medium;
        color: #666666;
    }

    .value {
        font-size: medium;
        color: #25df69;
    }
}
